.card{
  
  box-shadow: rgba(215,106,255,0.507) 0px 0px 20px;
  background-color: #0b0b0c;
  padding: 0.5rem;
  border-radius: 5px;
  top: 68px;
}
.menuItem{
  border:2px solid #c24dd0;
}
.activeMenuItem{
  background-image: linear-gradient(150deg,#c24dd0,#7a72fa);
  color: white;
}
.logoutButton{
  color: rgb(17, 16, 16);
  background-image: linear-gradient(150deg,#c24dd0,#ff005d);
  
}
.customButton{
  background-image: linear-gradient(150deg,#c24dd0,#7a72fa);
  color: white;
}